apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
        - name: iris-api
          image: mlops_m2_lab1-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: MLFLOW_TRACKING_URI
              value: file:/mlruns
          volumeMounts:
            - name: mlruns
              mountPath: /mlruns
      volumes:
        - name: mlruns
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: iris-api
  namespace: mlops
spec:
  selector:
    app: iris-api
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
  type: ClusterIP
