apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: mlops_m2_lab1-api:latest
          imagePullPolicy: IfNotPresent
          # override command to start mlflow UI (image already has dependencies installed)
          command: ["/bin/sh","-c"]
          args: ["mlflow ui --host 0.0.0.0 --port 5000 --backend-store-uri /mlruns"]
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: mlruns
              mountPath: /mlruns
      volumes:
        - name: mlruns
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlops
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  type: ClusterIP
