apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: mlops
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      - job_name: 'iris-api'
        scrape_interval: 5s
        static_configs:
          - targets: ['iris-api:8000']
        metrics_path: '/metrics'

      - job_name: 'mlflow'
        static_configs:
          - targets: ['mlflow:5000']
        metrics_path: '/metrics'
